<!-- Copyright (c) by David M. Spenhoff. All rights reserved -->

<div id="selector">
	<h3>To use these features you must be signed in with administrator privileges</h3>
	<p>
		<%= link_to "View all users", users_path %> &nbsp;|&nbsp;
		<%= link_to "Create a new user", new_user_path %>
	</p>
</div>
<div id="data"></div>