
    <div class="plaintext">
  	<h3>Welcome to Dealduck Sales Forecast+Risk Analytics</h3>
  	
  	<p><span style="font-style:italic; color:#ff0000;">This is a development prototype and is likely to change frequently.</span></p>

  	<p>Dealduck Sales Forecast+Risk Analytics performs in-depth analysis and gives you valuable insights about the total risk in your sales forecast by "crunching the numbers" across all the deals in your pipeline. Dealduck tells you the risk in the aggregate of all deals that are in your forecast.</p>
  	<p>Sales executives are good at understanding and managing the uncertainties and risks of individual deals. However, when your pipeline includes dozens or hundreds of deals it is hard to quantify and manage the total risk. For example, if your business objective is to make a forecast that you have at least a 90% likelihood of achieving, what should that forecast be? How good is any given forecast?</p>
  	<p>That’s where Dealduck Sales Forecast+Risk Analytics helps. Dealduck applies sophisticated, quantitative modeling and risk analysis techniques to your sales pipeline data.</p>
  	<p>How good is your forecast? What would you do if you knew?
  	<ul>
  		<li><strong>Evaluate your forecast risk.</strong> Dealduck lets you understand and manage the total risk in your forecast.</li>
  		<li><strong>Test alternate scenarios.</strong> What-if analysis of alternate risk scenarios is fast and easy with Dealduck.</li>
  		<li><strong>Manage "revenue at risk."</strong> Are you likely to miss your forecast? How much? What would you do if you knew?</li>
  	</ul>

  	<p>To get started, click one of the menu links at the top of the page. 
  	</p>
    </div>

