
    <div class="plaintext">
  	<h3>Welcome to Dealduck Sales Forecast+Risk Analytics</h3>
  	
  	<p><span style="font-style:italic; color:#ff0000;">This is a development prototype and is likely to change frequently.</span></p>

  	<p>Dealduck Sales Forecast+Risk Analytics gives you valuable insight about the risk in your sales forecast. Not the risk in specific deals, but instead the total risk in the aggregate of deals that comprise your forecast.</p>
  	<p>Sales executives are good at understanding and managing the uncertainties and risks of individual deals. However, when your sales forecast includes dozens or hundreds of deals it is hard to quantify and manage the total risk. For example, if your business objective is to make a forecast that you have at least a 90% likelihood of achieving, what should that forecast be? How good is any given forecast?</p>
  	
  	<p>That’s where Dealduck Sales Forecast+Risk Analytics helps. Dealduck applies sophisticated, quantitative modeling and risk analysis techniques to your sales pipeline data.</p>

  	<ul>
  		<li>Capture the details about individual deal risks so they can be consistently analyzed as part of your total, aggregate sales forecast</li>
  		<li>Analyze your sales forecast under different assumptions</li>
  		<li>Analyze your aggregate sales forecast risk based on simulating alternate scenarios</li>
  		<li>Gain insight about your "revenue at risk" and other measures of the quality of your forecast so you can take appropriate actions
  	</ul>

  	<p>To get started, click one of the menu links at the top of the page. 
  	</p>
    </div>

