<!DOCTYPE html>
<html>
<head>
  
<%= stylesheet_link_tag 'site' %>

</head>
<body>

<div id="top">
  <div id="stoneduck"><%= image_tag 'stoneduck.jpg', :size => '150x180', :alt => 'stoneduck' %></div>
  <h1>Registered users, please sign in</h1>
<div>
  
  </br></br><p>#todo</p>

<div id="submit"><%= link_to 'Submit', home_index_path %></div>



</body>
</html>