<!DOCTYPE html>
<html>
<head>
  
<%= stylesheet_link_tag 'site' %>

</head>
<body>

<div id="top">
  <div id="stoneduck"><%= image_tag 'stoneduck.jpg', :size => '150x180', :alt => 'stoneduck' %></div>
  <h1>Tell us the best way to contact you so we can tell you more about Dealduck</h1>
<div>

<div id="submit"><%= link_to 'Submit', 'duckhome' %></div>



</body>
</html>