<!DOCTYPE html>
<html>
<head>
  
<%= stylesheet_link_tag 'site' %>

</head>
<body>

<div id="top">
  <div id="stoneduck"><%= image_tag 'stoneduck.jpg', :size => '150x180', :alt => 'stoneduck' %></div>
  <h1>A "duck" is a small stack of stones marking a hard to find trail</h1>
  <h3>Dealduck lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
    
    <div id="more-info"><%= link_to 'Get more info', 'duckinfo' %></div>
    <div id="sign-in"><%= link_to 'Users sign in', 'ducksignin' %></div>

</div>

<div style="margin-left:auto; margin-right:auto; width:750px; ">
  <table style="margin-top:10px; ">
    <tr>
      <td id="textbox">
        <strong>Lorem ipsum dolor sit amet</strong></br>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      <td>
      <td style="width:20px;"></td>
      <td id="textbox">
        <strong>Lorem ipsum dolor sit amet</strong></br>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      <td>
      <td style="width:20px;"></td>
      <td id="textbox">
        <strong>Lorem ipsum dolor sit amet</strong></br>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      <td>
  </table>
</div>

</body>
</html>
