<!DOCTYPE html>
<html>
<head>
  
<%= stylesheet_link_tag 'site' %>

</head>
<body>

<div id="top">
  <div id="duck-logo"><%= image_tag 'duck-logo.png', :size => '150x150', :alt => 'duck-logo' %></div>
  <p style="font-size:2.0em">Registered users, please sign in</p>
<div>
  
  </br></br><p>#todo</p>

<div id="submit"><%= link_to 'Submit', home_index_path %></div>
</br>

<div id="bottom" style="width:750; margin-left:auto; margin-right:auto;">
  <div style="copyright">
    <p>Copyright &copy; David Spenhoff. All rights reserved.</p>
  </div>
  
</div>

</body>
</html>