
<div id="content">  
  <p>Why a duck?</p>
  <p>A "duck" is a stack of stones guiding hikers on a hard to find trail. Similarly, Deal<span class="duck-span">duck</span> guides sales executives to make better forecasts, with less risk of missing.</p>
  <p>Sales executives are good at understanding and managing the uncertainties and risks of individual deals. However, when a sales pipeline includes dozens or hundreds of deals it is nearly impossible to quantify and manage the total risk of meeting or missing a forecast.</p><p>Until now. </p>
  <p>Deal<span class="duck-span">duck</span> performs in-depth analysis and gives valuable insights about the total risk in a forecast by "crunching the numbers" across all deals in the sales pipeline.
  <p>How good is your forecast? What would you do if you knew?</p>

  
    <br />
    <div id="more-info"><%= link_to 'Get more info', :controller => 'site', :action => 'info' %></div>
    <div id="sign-in"><%= link_to 'Users sign in', :controller => 'sessions', :action => 'new' %></div>
    <br />
</div>

<div style="margin-left:auto; margin-right:auto; width:750px; padding-top:20px;">
  <table>
    <tr>
      <td id="textbox">
        <headline>Evaluate your forecast risk</headline></br>
        <p>Deal<span class="duck-span">duck</span> lets you understand and manage the total risk in your forecast.<p>
      </td>
      <td style="width:20px;"></td>
      <td id="textbox">
        <headline>Test alternate scenarios</headline></br>
        <p>What-if analysis of alternate risk scenarios is fast and easy with Deal<span class="duck-span">duck</span>.</p>
      </td>
      <td style="width:20px;"></td>
      <td id="textbox">
        <headline>Manage "revenue at risk"</headline></br>
        <p>Are you likely to miss your forecast? How much? What would you do if you knew?</p>
      </td>
    </tr>
  </table>
  <br />
</div>



