
<div id="content">
  <p style="font-size:1.25em; line-height:1.4em;">Tell us the best way to connect so we can tell you more about Deal<span class="duck-span">duck<span>.</p>
    
  </br></br><p>#todo</p>
</div>
  
<div id="submit"><%= link_to 'Submit', :controller => 'site', :action => 'index' %></div>
</br>

