
<div id="content">
  <p style="font-size:1.25em; line-height:1.4em;">Registered users, please sign in.</p>
<div>
  
  </br></br><p>#todo</p>

<div id="submit"><%= link_to 'Submit', home_index_path %></div>
</br>

